<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue.extend</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <h1></h1>
    <div id='myapp'></div>


    <script type="text/javaScript">
        // 创建构造器  //可全局构造组件
        var Profile = Vue.extend({
            template: '<p>{{my}}{{name}}{{is}}{{peter}}</p>',
            data:()=>{
                return{
                    my:'我的',
                    name:'名字',
                    is:'是',
                    peter:'彼得',
                }
            }
        })

        // 挂载vue
        var app = new Vue({
            el:"#app",

        })
    </script>
</body>
</html>